
.header {
    background-color: transparent;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;

    .header_img {
        width: 215px;
        margin-top: 30x;
        margin-left: 60px;
    }
}
